<div class="container text-white d-flex align-items-center justify-content-center">
  <div class="row justify-content-center">
    <div class="col col-auto h-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="display-2 text-center">.Robogeek</p>
        <p class="display-3 text-capitalize text-center">
          Full stack software developer
        </p>
        <p style="width: 785px;" class="display-4 text-center">
          Freelance UX/UI designer, 80+ projects in web design, mobile apps (iOS
          & android) and creative projects. Open to offers.
        </p>

        <div class="buton-cont d-flex flex-row justify-content-center mt-4">
          <button type="button" class="btn btn-outline-success text-uppercase mr-3">
            Contact Me
          </button>
          <button type="button" class="btn btn-info text-uppercase">
            Download Resume
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
