<div id="about" [ngClass]="{'mobile-bg': (isHandset$ | async ), 'desktop-bg': !(isHandset$ | async )  }">
	<app-toolbar></app-toolbar>

	<div class="container text-white">
		<div class="row justify-content-center my-4">
			<div class="col col-auto my-3">
				<div class="avatar">
					<img [src]="avatar" alt="" />
        </div>
				</div>
			</div>

			<div class="row mb-2 mb-sm-0">
				<div class="col">
					<p class="display-2 text-center">Azeez Lukman</p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p class="display-3 text-capitalize text-left text-sm-center">
						Full stack software developer
					</p>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col col-12 col-sm-8">
					<p class="display-4 text-sm-center">
						Freelance UX/UI designer, 80+ projects in web design, mobile apps (iOS &
						android) and creative projects. Open to offers.
					</p>
				</div>
			</div>

			<div class="row justify-content-center pt-2 pb-4">
				<div class="col-12 d-flex justify-content-center justify-content-sm-end col-sm-6">
					<button
    type="button"
    class="btn btn-outline-success text-uppercase mr-3 mb-3 mb-sm-0"
  >
    Contact Me
  </button>
				</div>
				<div class="col-12 d-flex justify-content-center justify-content-sm-start col-sm-6">
					<button type="button" class="btn btn-info text-uppercase">
    Download Resume
  </button>
				</div>
			</div>

		</div>
	</div>
