.container {
  min-height: 90vh;
}

.display-2 {
  line-height: 0.7;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 400;
  @media (min-width: 576px) {
    // font-size: 150px;
  }
}

.display-3 {
  font-family: Eczar;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;

  /* identical to box height */
  stroke: solid #0275b1;
  color: rgba(163, 192, 193, 0.815);
}

.display-4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #f9f9f9;
}

.avatar> img{
    max-width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: var(--toc-shadow);
}