<mat-toolbar [ngStyle]="{'background':(isHandset$ | async ) ? '#001d26' : 'transparent' }">
	<div>
		<button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button

          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
	</div>

<div class="d-flex w-100 justify-content-center justify-content-sm-between align-items-center">
  <div class="logo">( Logo )Robogeek</div>

	<button
        type="button"
        class="btn btn-info d-none d-sm-block text-uppercase"
      >
        Download Resume
      </button>
</div>

</mat-toolbar>
