<mat-toolbar [ngStyle]="{'background':(isHandset$ | async ) ? '#001d26' : 'transparent' }">
	<div d-flex flex-column>
		<button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button

          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
	<div class="logo">( Logo )Robogeek</div>
	</div>



	<button
        type="button"
        class="btn btn-info d-none d-sm-block text-uppercase"
      >
        Download Resume
      </button>
</mat-toolbar>
