.container {
  height: 90vh;
}

.pic {
  background: url("/assets/8204b4f870c5c90a2231ff377c2ea28c53311540.png");
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mat-display-1 {
  margin: 0 0 16px;
}
