<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="mb-3">
      <div
        class="pic"
        style="
          background: url('assets/avatar.webp');
        "
        alt="Azeez Lukman"
      ></div>
    </mat-toolbar>
    <mat-nav-list>
      <div
        matRipple
        class="links"
        *ngFor="let link of links; let i = index"
        [routerLink]="['/', link.name]"
        [class.selected]="selectedIndex == i"
      >
        <fa-icon [icon]="link.icon"></fa-icon>
        <span class="text-capitalize">{{ link.name }}</span>
      </div>
    </mat-nav-list>

    <div class="d-flex align-items-end justify-content-center button-goup mb-2">
      <div class="btn-group-vertical" role="group" aria-label="social links">
        <button
          type="button"
          class="btn btn-secondary"
          *ngFor="let social of social"
        >
          <fa-icon [icon]="social.icon"></fa-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
